<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Recipe - Edit Ingredient</title>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous"
	th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">

<script src="/webjars/jquery/1.11.1/jquery.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
	integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
	crossorigin="anonymous"
	th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>



</head>
<body>

	<div class="container-fluid" style="margin-top: 20px">
		<div class="col-md-6 col-md-offset-3">
			<form th:object="${ingredient}"
				th:action="@{/recipe/ingredient/update}" method="post">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h1 th:text="'Ingredient - ' + *{description}"
							class="panel-title">Ingredient !!!</h1>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-md-5 form-group">
								<label th:text="'Desription: '">Description</label> <input
									type="text" class="form-control form-control-lg "
									th:field="*{description}" />
							</div>

							<div class="col-md-2 form-group">
								<label th:text="'Quantity: '">Quantity</label> <input
									type="text" class="form-control form-control-lg "
									th:field="*{amount}" />
							</div>

							<!-- <div class="col-md-2 form-group">
								<label th:text="'Measure: '">Measure</label> <input type="text"
									class="form-control form-control-lg "
									th:field="*{unitOfMeasure.description}" />
							</div> -->

							<div class="col-md-3 form-group">
								<label th:text="'Measure: '">Measure</label>
								<select class="form-control" name="${unitOfMeasure.id}">
								<option th:each="uomEach : *{allUoms}" th:value="${uomEach.id}" 
								        th:selected="${uomEach.id.equals(ingredient.unitOfMeasure.id)}"
								        th:text="${uomEach.description}"> </option>
								
								</select>
							</div>


						</div>
					</div>

				</div>
				<!-- 	<button class="btn btn-success" onclick="goBack()">Go Back</button> -->

				<button type="submit" class="btn btn-primary">Submit</button>
				<a th:href="@{'/index'}" id="cancel" name="cancel"
					class="btn btn-default">Cancel</a>

				<!-- Hidden fields -->
				<input type="hidden" th:field="*{id}" /> <input type="hidden"
					th:field="*{recipeId}" />
			</form>
		</div>
	</div>

	<script>
		function goBack() {
			window.history.back();
		}
	</script>

</body>
</html>