<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="' Recipe - Form'">Recipe From</title>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous"
	th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">

<script src="/webjars/jquery/1.11.1/jquery.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
	integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
	crossorigin="anonymous"
	th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>



</head>
<body>

	<div class="container-fluid" style="margin-top: 20px">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<form th:object="${recipe}" th:action="@{/recipe/}" method="post">
					
					<!-- Recipe Name\Desciption  -->
					<div class="row">
						<div class="col-md-3 form-group">
							<label>Recipe Description</label> <input type="text"
								class="form-control" th:field="*{description}" />
						</div>
					</div>

					<!-- Category Check boxes  -->
					<div class="row">
						<div class="col-md-3 form-group">
							<label>Categories:</label>
						</div>
						<div class="col-md-9 form-group">
							<div class="radio">
								<label> <input type="checkbox" value="" /> Cat 1
								</label>
							</div>
							<div class="radio" th:remove="all">
								<label> <input type="checkbox" value="" /> Cat 2
								</label>
							</div>
						</div>
					</div>
					
					<!-- Preparation Time -->
					

					<button type="submit" class="btn btn-primary">Submit</button>
					<a th:href="@{'/index'}" id="cancel" name="cancel"
						class="btn btn-default">Cancel</a>

				</form>

			</div>

		</div>
	</div>
</body>
</html>